@model InstructorIndexData
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create </a>
</p>
@foreach (var item in Model.staffs)
{
    if(item.StaffId == (int)ViewData["StaffId"])
    {
        <div>
            <dl class="row">
                <dt class = "col-sm-2">
                    Mã nhân viên:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(modelItem => item.MaNV)
                </dd>
                <dt class = "col-sm-2">
                    Họ và tên:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt class = "col-sm-2">
                    Chức vụ:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(modelItem => item.Regency)
                </dd>
            </dl>
            <hr/>
        </div>
    }
}
